.login-page {
    background-image: url('../../assets/images/bg_login.jpg');
    height: 100vh;

    .login-wrapper {
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        
        .login-content {
            width: 540px;
            height: 500px;
            // background-color: #333;
            margin-top: 112px;
            text-align: center;

            .login-frame {
                padding: 20px;

                .login-title {
                    color: #fff;
                    font-size: 28px;
                    font-weight: 400;
                    margin-top: 20px;
                }

                .login-question {
                    color: #fff;
                    font-size: 28px;
                    font-weight: 300;
                    margin: 50px 0 14px 0;
                }

                .login-form {
                    max-width: 350px;
                    margin: 0 auto;

                    .login-email, .login-password {
                        display: flex;
                        justify-content: center;

                        .form-control {
                            width: 100%;
                            padding: 4px 20px;
                            height: 48px;
                            color: #fff !important;
                            background-color: rgba(255, 255, 255, 0.08);
                            border-radius: 40px;
                            margin-top: 10px;
                            border: none;
                            
                            &:hover, &:focus {
                                border: none;
                                border: 1px solid #ced4da;
                                background-color: transparent;
                                box-shadow: unset;
                            }
                        }
                    }

                    .anticon-sync {
                        color: #fff;
                        font-size: 20px;
                        margin-top: 20px;
                    }

                    .login-btn {
                        width: 100%;
                        border-radius: 40px;
                        padding: 16px 0;
                        margin: 16px 0 10px 0;
                        background-color: #001529;
                        color: #fff;
                        border: none;

                        &:hover {
                            background-color: #012241;
                        }
                    }

                    .login-error {
                        margin-top: 10px;
                        color: #850202;
                        font-weight: 400;
                    }

                    .login-success {
                        margin-top: 10px;
                        color: #4fef27;
                    }

                    .forgot-password {
                        text-align: right;
                        margin: 2px 16px 0 0;

                        a {
                            color: #fff;

                            &:hover {
                                color: #001529;
                            }
                        }
                    }

                }

                .login-method {
                    max-width: 350px;
                    margin: 0 auto;
                    margin-top: 34px;

                    .login-method__title {
                        color: #fff;
                    }

                    .login-method__btn {
                        display: flex;
                        justify-content: center;
                        margin-top: 18px;

                        .btn-facebook, .btn-google {
                            width: 50%;
                            background-color: #fff;
                            color: #001529;
                            padding: 10px;
                            border: none;

                            &:hover {
                                color: #fff;
                                background-color: #001529;
                            }
                        }

                        .btn-google {
                            margin-left: 20px;
                        }
                    }
                }
                
                .switch-register {
                    margin-top: 30px;

                    .switch-register__title {
                        color: #fff;
                        font-size: 18px;

                        a {
                            color: #fff;
                            text-decoration: underline;

                            &:hover {
                                color: #001529;
                            }
                        }
                    }
                }

            }
        }
    }
    
    ::placeholder {
        color: rgb(207, 205, 205);
        opacity: 1; /* Firefox */
    }
      
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgb(207, 205, 205);
    }
      
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: rgb(207, 205, 205);
    }
}
