.messenger-wrapper {
    display: flex;
    justify-content: space-between;
    height: 90vh;

    .conversations-container {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 80vh;
        border-radius: 10px;
        width: 340px;
        height: 100%;


        @media screen and (max-width: 1280px) {
            width: 280px;
        }

        @media screen and (max-width: 992px) {
            width: unset;
        }
    }

    .messages-container {
        height: 80vh;
        flex-grow: 1;
        background-color: #c9d3dd;
        border-radius: 10px;
        width: calc(100vw / 3);
        height: 100%;
    }

    .additionalInfo-container {
        margin-left: 16px;
        height: 80vh;
        border-radius: 10px;
        background-color: #fff;
        height: 100%;

        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
}
::-webkit-scrollbar {
    width: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d6d2d2;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}