.search-wrapper {
    width: 100%;
    margin-bottom: 10px;

    .search-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 8px 10px 0;

        @media screen and (max-width: 992px) {
            justify-content: center;
            margin: 0;
            height: 54px;

            h3 {
                display: none;
            }
        }

        h3 {
            margin: 0;
        }
    }

    .search-element {
        margin-right: 10px;
        width: 100%;
        display: flex;

        @media screen and (max-width: 992px) {
            display: none;
        }
        @media screen and (max-width: 575px) {
            display: flex;
            margin-top: 16px;
        }

        .search-btn {
            border: none;
            outline: none;
            cursor: pointer;
            padding: 6px 16px;
            background-color: #cfcfcf91;
            color: #918f8f;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
    
            &:focus {
                box-shadow: unset;    
            }
        }
    
    
        .search-input {
            width: 100%;
            margin-right: 8px;

            #search-input {
                border: none;
                outline: none;
                padding: 8px 0;
                width: 100%;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
                background-color: #cfcfcf91;
            }

            @media screen and (max-width: 575px) {
                margin-right: 0;
            }
        }
    }

    .btn-new-message {
        @media screen and (max-width: 575px) {
            width: 100%;
            display: flex;
            align-items: center;
        }

        button {
            padding: 4px 8px;
            background-color: #dedee0;
            color: #333;
            border: none;
            outline: none;
            border-radius: 100%;
            cursor: pointer;
            font-size: 18px;

            &:focus {
                box-shadow: none !important;
            }

            &:hover {
                background-color: #cacacc;
            }

            @media screen and (max-width: 992px) {

                .btn-new-message__big {
                    display: none;
                }

                .btn-new-message__small {
                    display: block;
                }
            }
        }

        .list-user__online {
            display: none;
            overflow-x: scroll;
            overflow-y: hidden;
            margin-left: 4px;

            .onliner-item {
                margin-left: 16px;
                position: relative;
                cursor: pointer;

                img {
                    width: 46px;
                    height: 46px;
                    object-fit: cover;
                    border-radius: 100%;
                }

                .item-image__status {
                    position: absolute;
                    bottom: -4px;
                    right: -4px;
                    
                    i {
                        border-radius: 100%;
                        border: 3px solid #fff;
                        font-size: 12px;
                        margin-right: 2px;
                        color: rgb(118, 235, 8);
                    }
                }
            }

            @media screen and (max-width: 575px) {
                display: flex;
            }
        }

        .list-user__online::-webkit-scrollbar {
            display: none;
        }
    }
}

.ant-modal {
    border-radius: 4px !important;
    overflow: hidden;

    .ant-modal-content {
        border-radius: 4px;
    }

    .ant-modal-header {
        border: none;
    }

    .ant-modal-body {
        padding: 10px 24px 40px 24px;

        .ant-body__wrapper {
            .modal-search {
                position: relative;

                .search-input {
                    input {
                        border-radius: 20px;
                        padding: 10px 20px;
                        background-color: #c2d5e766;
                        border: 1px solid #c2d5e766;

                        &:focus-visible {
                            outline: unset !important;
                        }

                        &:focus {
                            border: 1px solid #333;
                        }
                    }

                }

                .search-icon {
                    font-size: 18px;
                    position: absolute;
                    top: 3px;
                    right: 13px;
                    color: #918f8f;
                    cursor: pointer;
                    padding: 4px 6px;
                }
            }

            .modal-list {
                background: #e7eef5;
                border-radius: 20px;
                min-height: 300px;
                max-height: 400px;
                margin-top: 10px;
                overflow: auto;
                padding: 10px 0 0 0;

                .modal-list__item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    padding: 8px 20px;
                    cursor: pointer;
                    border-radius: 50px;

                    &:hover {
                        background-color: #c2d5e766;
                    }

                    .modal-list__item__img {
                        border-radius: 100%;
                        position: relative;

                        img {
                            width: 40px;
                            height: auto;
                            border-radius: 100%;
                        }

                        .item-img__status {
                            position: absolute;
                            bottom: -4px;
                            right: -5px;
                            
                            i {
                                border-radius: 100%;
                                border: 2px solid #fff;
                                font-size: 10px;
                                margin-right: 2px;
                                color: rgb(118, 235, 8);
                            }
                        }

                        .item-img__status-offline {
                            i {
                                color: grey;
                            }
                        }
                    }

                    .modal-list__item__info {
                        font-size: 16px;
                        font-weight: 600;
                        margin-left: 14px;
                    }
                }
            }
        }
    }
}