.dashlayout-sider {
  background: #0c0c0c;
  max-height: 100vh;
  position: sticky !important;
  left: 0;
  top: 0;
  bottom: 0;

  .ant-layout-sider-children {
    .ant-menu-dark {
      background: #0c0c0c;
    }

    .menuTab-btn {
      color: #ffffffa6;
      font-size: 24px;
      vertical-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      cursor: pointer;

      @media screen and (max-width: 575px) {
        display: none;
      }

      .menuTab-title {
        font-size: 18px;
        padding-left: 8px;
      }
    }

    .ant-menu-dark {
      padding: 0 8px;

      .ant-menu-item {
        border-radius: 10px;
      }

      .ant-menu-item-selected {
        background-color: #f0f2f5 !important;

        .ant-menu-item-icon {
          svg {
            fill: #333;
          }
        }

        .ant-menu-title-content {
          color: #333 !important;
        }
      }
    }

    .ant-menu-inline-collapsed {
      .ant-menu-item {
        display: flex;
        align-items: center;
      }
    }
  }

  .ant-layout-sider-trigger {
    background-color: #040404;
  }
}

.site-dashlayout {
  .ant-layout-content {
    margin: 0 !important;
  }
}
