.banner-image {
  position: relative;
  min-height: 56vh;
  background-color: #242526;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  .image-avatar {
    position: absolute;
    bottom: 30px;
    left: 50px;
    display: flex;
    align-items: flex-end;

    .image-avatar__img {
      .ant-avatar {
        border: 2px solid #000;
        display: block;
        padding: 10px;
        width: 160px !important;
        height: auto !important;
        background-color: grey;
      }
    }

    .image-avatar__info {
      margin-left: 16px;
      color: #fff;

      h4 {
        font-weight: 700;
        margin: 0;
        color: #fff;
      }
    }
  }
}
